allure-results
screenshot/
screenshots/
test-output/
build/
reports/
logs/


application.log
#################################
##  Java

.mtj.tmp/
*.class
*.jar
*.war

activityLog.log
#########################

## Maven
target/
pom.xml.tag
pom.xml.versionBackup
release.properties
dependency-reduced-pom.xml
buildNumber/properties
.mvn/wrapper/maven-wrapper.jar

##  IntelliJ
out/
.idea/
.idea_modules/
*.ipr
*.iml
*.ips






















